<wicket:extend>
	<div class="source-lines card m-2 m-sm-5 d-flex flex-column flex-grow-1">
		<div class="card-body d-flex flex-column flex-grow-1 overflow-auto">
			<div class="chart resize-aware flex-grow-1"></div>
		</div>
	</div>
</wicket:extend>
