<wicket:panel>
	<div class="head">
		<span wicket:id="user" class="user"></span> <span wicket:id="description"></span> <span wicket:id="age"></span>
	</div>
	<div wicket:id="body" class="body"></div>
</wicket:panel>