<wicket:panel>
	<span class="contributor text-muted">
		<a wicket:id="author" class="name link-gray"></a> 
        committed 
        <wicket:enclosure child="committer">
		with <a wicket:id="committer" class="name link-gray"></a>
		</wicket:enclosure>
		<span wicket:id="date"></span>
	</span>
</wicket:panel>