<wicket:extend>
	<div class="card new-project m-2 m-sm-5">
		<div class="card-body">
			<form wicket:id="form" class="leave-confirm">
				<div wicket:id="editor" class="mb-4"></div>
				<input class="btn btn-primary dirty-aware" value="Create" type="submit">
			</form>
		</div>
	</div>
</wicket:extend>