<wicket:panel>
	<div wicket:id="clone" class="clone"></div>
	<div class="d-flex justify-content-between download">
		<a wicket:id="downloadAsZip" class="btn btn-block btn-primary mr-4 text-nowrap">Download zip</a>
		<span></span>
		<a wicket:id="downloadAsTgz" class="btn btn-block btn-primary text-nowrap">Download tar.gz</a>
	</div>
	<wicket:fragment wicket:id="urlFrag">
		<div class="url input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Clone</span>
			</div>
			<input wicket:id="value" readonly="readonly" class="form-control"> 
			<div class="input-group-append">
				<a wicket:id="copy" class="btn btn-icon btn-outline-secondary"><wicket:svg href="copy" class="icon"></wicket:svg></a>
			</div>
		</div>
	</wicket:fragment>
</wicket:panel>