<wicket:panel>
	<div class="code-comment">
		<div wicket:id="comment" class="comment section"></div>
		<div wicket:id="replies" class="reply section"></div>
		<div wicket:id="addReply" class="add-reply"></div>
	</div>
	<wicket:fragment wicket:id="viewFrag">
		<div class="user-avatar"><a wicket:id="userAvatar"></a></div>
		<div class="detail">
			<div class="head d-flex align-items-center flex-wrap justify-content-between text-muted mb-1">
				<span wicket:id="userName" class="user-name mr-3"></span>
				<span>
					<span wicket:id="action" class="action"></span>
					<span wicket:id="date" class="date"></span>
				</span>
			</div>
			<div class="body">
				<div wicket:id="content"></div>
			</div>
			<div wicket:id="foot" class="foot d-flex align-items-center mt-3">
				<a wicket:id="edit" class="mr-2 text-muted text-hover-primary">Edit</a>
				<wicket:enclosure child="delete">
				<span class="dot mr-2"></span>
				<a wicket:id="delete" class="text-muted text-hover-primary">Delete</a>
				</wicket:enclosure>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="commentEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<div class="form-group mb-3">
				<div wicket:id="content"></div>
			</div>
			<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware mr-1">Save</button>
			<button wicket:id="cancel" class="btn btn-sm btn-secondary">Cancel</button>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="replyEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<div wicket:id="content" class="mb-3"></div>
			<button wicket:id="save" class="btn btn-sm btn-primary mr-1"><span wicket:id="label"></span></button>
			<button wicket:id="cancel" class="btn btn-sm btn-secondary">Cancel</button>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="addReplyFrag">
		<a wicket:id="reply" class="btn btn-sm btn-outline-secondary"><wicket:svg href="reply" class="icon mr-2"></wicket:svg> Reply</a>
	</wicket:fragment>
</wicket:panel>