<wicket:extend>
	<div wicket:id="error">
   		<div class="actions">
        	<a wicket:id="home" class="btn btn-light-primary">Back To Home</a>
			<a wicket:id="showDetail" class="btn btn-primary">Show Error Detail</a>			
		</div>
		<div wicket:id="errorDetail" class="error-detail alert alert-light"></div>
    </div>
</wicket:extend>