.wizard>.head {
	margin-bottom: 1.5rem;
}
.wizard>.head>.title {
	font-size: 1.25rem;
}
.wizard>.body {
	margin-bottom: 1.5rem;
}
.wizard>.foot>* {
	margin-right: 1rem;
}
.wizard>.foot>:last-child {
	margin-right: 0;
}