<wicket:extend>
	<div wicket:id="activities" class="activities">
		<table class="w-100">
			<tr wicket:id="activities" class="activity">
				<td class="avatar"><a wicket:id="avatar"></a></td>
				<td wicket:id="content" class="content"></td>
			</tr>
		</table>
		<div wicket:id="addComment" class="mt-4"></div>
	</div>
	<wicket:fragment wicket:id="loginToCommentFrag">
		<div class="login-to-comment alert alert-light text-center font-size-h6">
			<a wicket:id="login" class="link-primary">Login to comment</a>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="addCommentFrag">
		<form wicket:id="form" class="add-comment leave-confirm no-autofocus">
			<div wicket:id="feedback"></div>
			<div wicket:id="input" placeholder="Leave a comment"></div>
			<button wicket:id="save" class="btn btn-primary dirty-aware mt-3">Comment</button>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="sinceChangesRowAvatarFrag">
		<wicket:svg href="diff" class="icon"/>
	</wicket:fragment>
	<wicket:fragment wicket:id="sinceChangesRowContentFrag">
		<a wicket:id="sinceChanges" class="link-primary font-size-h6">Changes since last visit</a>
	</wicket:fragment>
	<wicket:fragment wicket:id="optionsFrag">
		<div class="pull-request-activity-options">
			<a wicket:id="showComments" class="btn btn-xs text-muted btn-active-secondary btn-icon" title="Show comments"><wicket:svg href="comments" class="icon"></wicket:svg></a>
			<a wicket:id="showCommits" class="btn btn-xs text-muted btn-active-secondary btn-icon" title="Show commits"><wicket:svg href="commit" class="icon"></wicket:svg></a>
			<a wicket:id="showChangeHistory" class="btn btn-xs text-muted btn-active-secondary btn-icon" title="Show change history"><wicket:svg href="history" class="icon"></wicket:svg></a>
		</div>
	</wicket:fragment>
</wicket:extend>