<wicket:extend>
	<div id="user-access-token">
		<div class="font-size-sm text-muted mb-4"><wicket:svg href="bulb" class="icon"/> Access token 
		can be used to clone code via HTTP(S) protocol without using password. It has same permission 
		over all projects accessible by this user</div>
		<div wicket:id="accessToken"></div>
	</div>
</wicket:extend>