<wicket:extend>
	<div class="p-2 p-sm-5">
		<div wicket:id="workflowChangeAlert" class="mb-5"></div>
		<div class="side-main side-main-wrap">
			<div wicket:id="savedQueries" class="side"></div>
			<div wicket:id="issues" class="main"></div>
		</div>
	</div>
</wicket:extend>