<wicket:extend>
	<div class="card">
		<div class="card-body">
			<form wicket:id="backupSetting" class="leave-confirm">
				<div wicket:id="editor" class="mb-4"></div>
				<input type="submit" class="btn btn-primary dirty-aware mr-1" value="Save Setting">
				<a wicket:id="backupNow" class="btn btn-light-primary">Backup now</a>
			</form>
		</div>
	</div>
</wicket:extend>
