<wicket:panel>
	<div class="new-issue">
		<div class="form-group">
			<label class="control-label">Title <span class="text-danger">*</span></label>
			<input wicket:id="title" type="text" class="form-control" placeholder="Input title here">
			<div wicket:id="titleFeedback"></div>
		</div>
		<div class="form-group description">
			<label class="control-label">Description</label>
			<div wicket:id="description"></div>
		</div>		
		<wicket:enclosure child="milestone">
		<div class="form-group">
			<label class="control-label">Milestone</label>
			<div>
				<input wicket:id="milestone" type="hidden" class="form-control">
			</div>
		</div>		
		</wicket:enclosure>
		<div wicket:id="fields"></div>
	</div>
</wicket:panel>