<wicket:panel>
	<div wicket:id="content"></div>
	<wicket:fragment wicket:id="noDiffFrag">
		<div class="no-diff">
			<div class="head">
				<div wicket:id="title"></div>
			</div>
			<div class="body">
				<svg wicket:id="icon" class="icon mr-1"></svg> <span wicket:id="message"></span>
			</div>
		</div>
	</wicket:fragment>
</wicket:panel>