.blob-view>.body>div>.markdown-viewer {
	padding: 1.6rem;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.blob-edit .markdown-editor .ui-resizable-handle {
	display: none;
}

.blob-edit .markdown-editor>.head {
	border: none;
}
.blob-edit .markdown-editor>.body>.edit>textarea, 
.blob-edit .markdown-editor>.body>.preview>.markdown-rendered {
	border-radius: 0 !important;
} 
