<wicket:panel>
	<span class="actions btn-group">
		<a wicket:id="reopen" title="Reopen this milestone" class="btn btn-light btn-sm">reopen</a>
		<a wicket:id="close" title="Close this milestone" class="btn btn-light btn-sm">close</a>
		<a wicket:id="edit" title="Edit this milestone" class="btn btn-light btn-sm">edit</a>
		<a wicket:id="delete" title="Delete this milestone" class="btn btn-light btn-sm">delete</a>
		<a wicket:id="create" title="Create new milestone" class="btn btn-light btn-sm">create</a>
	</span>
</wicket:panel>