<wicket:panel>
	<div class="project-info p-4">
		<div class="d-flex align-items-center justify-content-between">
			<div class="mr-4">
				<h5 wicket:id="name" class="mb-0"></h5>
				<wicket:enclosure child="forkedFrom">
					<div class="text-muted">
						Forked from <a wicket:id="forkedFrom"><span wicket:id="label"></span></a>			
					</div>
				</wicket:enclosure>
			</div>
			<div class="btn-group">
			    <a wicket:id="forks" class="btn btn-sm btn-light btn-hover-primary"><span wicket:id="label"></span></a>
				<a wicket:id="forkNow" class="btn btn-sm btn-light btn-hover-primary btn-icon" title="Fork now"><wicket:svg href="fork" class="icon"/></a>
			</div>			
		</div>
		<div wicket:id="description" class="mt-4"></div>
	</div>
</wicket:panel>