<wicket:panel>
	<ul class="assignments list-unstyled mb-0">
		<li wicket:id="assignments" class="d-flex align-items-center flex-nowrap">
			<a wicket:id="user" class="mr-3"></a> 
			<a wicket:id="delete" class="delete btn btn-icon btn-xs btn-light btn-hover-danger flex-shrink-0" title="Remove this assignee"><wicket:svg href="trash" class="icon"></wicket:svg></a>
		</li>
		<wicket:enclosure>
		<li class="add-assignee">
			<input wicket:id="addAssignee" type="hidden" class="form-control">
		</li>
		</wicket:enclosure>
	</ul>
</wicket:panel>