<wicket:panel>
	<ul class="list-unstyled">
		<li wicket:id="items"><wicket:container wicket:id="content"></wicket:container></li>
	</ul>
	<wicket:fragment wicket:id="contentFrag">
		<a wicket:id="link" class="text-nowrap d-flex align-items-center"><svg wicket:id="tick" class="icon-tick icon mr-2 ml-n2"/><svg wicket:id="icon" class="icon mr-3"/><span wicket:id="label" class="text"/><span wicket:id="shortcut" class="shortcut ml-auto text-right"/></a>
	</wicket:fragment>
</wicket:panel>
