<wicket:panel>
	<div class="source-format d-flex align-items-center">
		<wicket:enclosure child="indentType">
		<div class="indent-type mr-2">
			<select wicket:id="indentType" class="form-control custom-select"></select>
		</div>
		</wicket:enclosure>
		<wicket:enclosure child="tabSize">
		<div class="tab-size mr-2">
			<select wicket:id="tabSize" class="form-control custom-select"></select>
		</div>
		</wicket:enclosure>
		<wicket:enclosure child="lineWrapMode">
		<div class="line-wrap-mode mr-2">
			<select wicket:id="lineWrapMode" class="form-control custom-select"></select>
		</div>
		</wicket:enclosure>
	</div>
</wicket:panel>