<wicket:panel>
    <div class="job-params-view">
        <div wicket:id="params" class="job-param mb-4">
            <div wicket:id="name" class="name font-weight-bolder mb-2"></div>
            <div class="value">
                <div wicket:id="valuesProvider" class="values-provider"></div>
                <div wicket:id="values" class="values"></div>
            </div>
        </div>
    </div>
    <wicket:fragment wicket:id="specifiedValuesFrag">
        <ul class="specified-values">
            <li wicket:id="values" class="specified-value">
                <div wicket:id="value"></div>
            </li>
        </ul>
    </wicket:fragment>
</wicket:panel>