<wicket:panel>
	<div class="card h-100">
		<div class="card-header flex-nowrap">
			<div wicket:id="title" class="card-title"></div>
			<div class="card-toolbar">
				<a wicket:id="close" class="text-muted text-hover-primary" title="Close"><wicket:svg href="times" class="icon"></wicket:svg></a>
			</div>
		</div>
		
		<!-- perfect scrollbar is installed to body tag, so we attach user 
		supplied body one level down, to make sure that the body tag will never 
		be updated--> 
		<div class="card-body h-100 overflow-auto"><div wicket:id="body"></div></div>
		<div wicket:id="footer" class="card-footer"></div>
	</div>
</wicket:panel>